{% extends 'services/base.html' %}
{% block content %}
<h1>{{title}}</h1>
<p>Добро пожаловать в мир чистоты! Вас приветствует «Наша Химчистка»!
15 апреля 2017 года нам исполнилось двадцать лет. В 1997 году Наша Химчистка начиналась с единственного цеха,
    открывшегося в Приморском районе Санкт-Петербурга, а сегодня «Наша Химчистка» - это целая сеть, которая чистит,
    стирает и ремонтирует в общей сложности более миллиона вещей в год! Нам доверяют жители Санкт-Петербурга – и это только начало!
</p>
<h2> Мы оказываем квалифицированную помощь вашим вещам! </h2>
<p>«Наша Химчистка» придет на помощь, если вам нужно постирать, почистить, освежить, отремонтировать вещи – будь то повседневная одежда или деликатные ткани, меха,
    кожа или замша, шторы, текстиль или ковры, экипировка, театральные костюмы или спецодежда.


Мы не собираемся сбавлять обороты – напротив, у нас большие планы по развитию сети в других регионах России.
    Позиции лидера в своей сфере мы сохраняем благодаря высоким технологиям, особому подходу к нашим клиентам и основным преимуществам:


профессиональное оборудование: для обработки ваших вещей в цехах и на фабрике-прачечной мы используем современное оборудование производства Германии


современные очистители: специальные средства последнего поколения позволяют удалять даже самые сложные загрязнения и бережно очищать самые деликатные ткани


команда: опыт и высокая квалификация наших сотрудников позволяют нам гарантировать, что ваш заказ будет выполнен безупречно и точно в срок. </p>
{% endblock %}